.header{
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding-bottom: 250px;
}

.header,
.footer{
    background-color: #1f2937;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright{
    text-align: center;
    color: rgb(168, 168, 168);
}

.header-primary{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

em{
    color: #ff0000;
}

.headerbutton,
.button{
    background-color: #ff0000;
    color: black;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}

.headerbutton{
    width: 110px;
}

.header-secondary{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
}

.headertext{
    display: flex;
    flex-direction: column;
    color: rgb(168, 168, 168);
}

h1,p{
    margin: 0px;
    width: 500px;
}

.logo{
    width: 125px;
    height: 125px;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    font-size: 18px;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.bossimg{
    border: outset rgb(168, 168, 168) 5px;
}
.arrow{
    align-self: center;
    color: rgb(168, 168, 168);
    font-size: 80px;
}

h2{
    text-align: center;
    font-size: 36px;
}

.header,
.headerbutton,
.button,
h2,
.gangdesc,
.q,
.rtext,
.copyright{
    font-family: 'Permanent Marker', cursive;
}

.gang
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gang{
    gap: 22px;
}

.gangdesc{
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 20px;
}

.gmember{
    border: outset rgb(168, 168, 168) 5px;
    border-radius: 8px;
    width:300px;
    height: 300px;
}

.mtext{
    max-width: 250px;
    margin: 0px;
    text-align: center;
    margin-bottom: 125px;
}

.q{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.qtext{
    font-size: 36px;
    width: 1000px;
}

.qperson{
    align-self: flex-end;
    font-size: 20px;
}

.recruit{
    background-color: #ff0000;
    margin: 200px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 60px;
    display: flex;
    border-radius: 8px;
    border-color: none;
}

.rtext{
    flex: 1;
}

.boldt{
    font-weight: 700;
    font-size: 25px;
}



